.title,
.recipetitle{
    color: black;
    text-align: center;
    background-color: grey;
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
}
.recipetitle{
    background-color: orange;
}
li {
    font-size: 18px;
}
.text, 
.home {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
.home {
    font-size: 20px;
}
.indexlistitem {
    width: 300px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    background-color: rgb(114, 250, 143);
    margin: 5px;
}